<!--
  Generated template for the VisitsDataPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Visits Data</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="code && response">
    <div class="alert-success">
      <p>User Found</p>
    </div>
    <ul class="list-group">
      <li class="list-group-item">Name : <strong>{{response?.name || ""}}</strong></li>
      <li class="list-group-item">Organization Name : <strong>{{response?.org_name || ""}}</strong></li>
      <li class="list-group-item">Number Of Visitors : <strong>{{response?.num_of_visitors || ""}}</strong></li>
      <li class="list-group-item">Email : <strong>{{response?.email || ""}}</strong></li>
      <li class="list-group-item">Phone : <strong>{{response?.phone || ""}}</strong></li>
      <li class="list-group-item">Code : <strong>{{response?.code || ""}}</strong></li>
      <li class="list-group-item">Status : <strong>{{response?.status || ""}}</strong></li>
    </ul>




    <div *ngIf="message.success === true" class="alert-success">
      <p>{{ message.message }}</p>
    </div>
    <div *ngIf="message.error === true" class="alert-danger">
      <p>{{ message.message }}</p>
    </div>

    <button *ngIf="response?.checked === 0" ion-button round color="success" (click)="checkIn(response?.id)" class="check-btn">Check
      In</button>

    <!-- <button *ngIf="response?.checked === 1" ion-button round color="danger" (click)="checkOut(response?.id)" class="check-btn">Check
      Out</button> -->
  </div>
  <div class="alert-danger" *ngIf="(code && !response) || (!code && !response)">
    <p>Somthing went wrong</p>
  </div>
</ion-content>